# OS / logs
*.log
.DS_Store
Thumbs.db

# Environment / secrets
.env
.env.*
/auth.json

# Dependencies
/vendor
/node_modules

# Laravel generated
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework
/storage/logs
/storage/pail

# IDE / editors
/.idea
/.vscode
/.fleet
/.zed

# Tools / caches
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
/.nova

# Homestead
Homestead.json
Homestead.yaml
